## Decision trees
Author - Girish Shirke, Date - 14/03/2020

Build a tree to predict the income of a given population, which is labelled as <= 50K and >50K. The attributes (predictors) are age, working class type, marital status, gender, race etc.

***This assignment also includes plotting the decision tree using graphziv***

In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn import preprocessing

In [28]:
data = pd.read_csv('adult_dataset.csv')
data.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education.num     32561 non-null int64
marital.status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital.gain      32561 non-null int64
capital.loss      32561 non-null int64
hours.per.week    32561 non-null int64
native.country    32561 non-null object
income            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [30]:
data_que = data[data == '?']
data_que.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               0 non-null float64
workclass         1836 non-null object
fnlwgt            0 non-null float64
education         0 non-null object
education.num     0 non-null float64
marital.status    0 non-null object
occupation        1843 non-null object
relationship      0 non-null object
race              0 non-null object
sex               0 non-null object
capital.gain      0 non-null float64
capital.loss      0 non-null float64
hours.per.week    0 non-null float64
native.country    583 non-null object
income            0 non-null object
dtypes: float64(6), object(9)
memory usage: 3.7+ MB

/home/girish/anaconda3/lib/python3.7/site-packages/pandas/core/ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [31]:
data_cleaned = data[data['workclass'] != '?']
data_cleaned

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
5,34,Private,216864,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,0,3770,45,United-States,<=50K
6,38,Private,150601,10th,6,Separated,Adm-clerical,Unmarried,White,Male,0,3770,40,United-States,<=50K
7,74,State-gov,88638,Doctorate,16,Never-married,Prof-specialty,Other-relative,White,Female,0,3683,20,United-States,>50K
8,68,Federal-gov,422013,HS-grad,9,Divorced,Prof-specialty,Not-in-family,White,Female,0,3683,40,United-States,<=50K
9,41,Private,70037,Some-college,10,Never-married,Craft-repair,Unmarried,White,Male,0,3004,60,?,>50K
10,45,Private,172274,Doctorate,16,Divorced,Prof-specialty,Unmarried,Black,Female,0,3004,35,United-States,>50K
11,38,Self-emp-not-inc,164526,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,0,2824,45,United-States,>50K
12,52,Private,129177,Bachelors,13,Widowed,Other-service,Not-in-family,White,Female,0,2824,20,United-States,>50K
13,32,Private,136204,Masters,14,Separated,Exec-managerial,Not-in-family,White,Male,0,2824,55,United-States,>50K
15,46,Private,45363,Prof-school,15,Divorced,Prof-specialty,Not-in-family,White,Male,0,2824,40,United-States,>50K
16,45,Private,172822,11th,7,Divorced,Transport-moving,Not-in-family,White,Male,0,2824,76,United-States,>50K
17,57,Private,317847,Masters,14,Divorced,Exec-managerial,Not-in-family,White,Male,0,2824,50,United-States,>50K
18,22,Private,119592,Assoc-acdm,12,Never-married,Handlers-cleaners,Not-in-family,Black,Male,0,2824,40,?,>50K
19,34,Private,203034,Bachelors,13,Separated,Sales,Not-in-family,White,Male,0,2824,50,United-States,>50K
20,37,Private,188774,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Male,0,2824,40,United-States,>50K
21,29,Private,77009,11th,7,Separated,Sales,Not-in-family,White,Female,0,2754,42,United-States,<=50K
22,61,Private,29059,HS-grad,9,Divorced,Sales,Unmarried,White,Female,0,2754,25,United-States,<=50K
23,51,Private,153870,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2603,40,United-States,<=50K
25,21,Private,34310,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,0,2603,40,United-States,<=50K
26,33,Private,228696,1st-4th,2,Married-civ-spouse,Craft-repair,Not-in-family,White,Male,0,2603,32,Mexico,<=50K
27,49,Private,122066,5th-6th,3,Married-civ-spouse,Other-service,Husband,White,Male,0,2603,40,Greece,<=50K
28,37,Self-emp-inc,107164,10th,6,Never-married,Transport-moving,Not-in-family,White,Male,0,2559,50,United-States,>50K
29,38,Private,175360,10th,6,Never-married,Prof-specialty,Not-in-family,White,Male,0,2559,90,United-States,>50K
30,23,Private,44064,Some-college,10,Separated,Other-service,Not-in-family,White,Male,0,2559,40,United-States,>50K
31,59,Self-emp-inc,107287,10th,6,Widowed,Exec-managerial,Unmarried,White,Female,0,2559,50,United-States,>50K
32,52,Private,198863,Prof-school,15,Divorced,Exec-managerial,Not-in-family,White,Male,0,2559,60,United-States,>50K
33,51,Private,123011,Bachelors,13,Divorced,Exec-managerial,Not-in-family,White,Male,0,2559,50,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32525,58,Private,147707,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,<=50K
32526,30,Private,77266,HS-grad,9,Divorced,Transport-moving,Not-in-family,White,Male,0,0,55,United-States,<=50K
32527,26,Private,191648,Assoc-acdm,12,Never-married,Machine-op-inspct,Other-relative,White,Female,0,0,15,United-States,<=50K
32529,32,Private,211349,10th,6,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,<=50K
32530,22,Private,203715,Some-college,10,Never-married,Adm-clerical,Own-child,White,Male,0,0,40,United-States,<=50K
32531,31,Private,292592,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Wife,White,Female,0,0,40,United-States,<=50K
32532,29,Private,125976,HS-grad,9,Separated,Sales,Unmarried,White,Female,0,0,35,United-States,<=50K
32535,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32536,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32537,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32538,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32539,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32540,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32542,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32545,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32546,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32547,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32548,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32549,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32550,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32551,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32552,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32553,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32554,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32555,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32556,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32557,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32558,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32559,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [32]:
data_cleaned.apply(lambda x : x == '?').sum()

age                 0
workclass           0
fnlwgt              0
education           0
education.num       0
marital.status      0
occupation          7
relationship        0
race                0
sex                 0
capital.gain        0
capital.loss        0
hours.per.week      0
native.country    556
income              0
dtype: int64

In [33]:
data_cleaned = data_cleaned[data_cleaned['native.country'] != '?' ]
data_cleaned = data_cleaned[data_cleaned['occupation'] != '?' ]
data_cleaned.apply(lambda x : x == '?').sum()

age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
income            0
dtype: int64

In [34]:
final_data = data_cleaned

In [35]:
final_data_categorical = final_data.select_dtypes(include='object')

le = preprocessing.LabelEncoder()
final_data_categorical = final_data_categorical.apply(le.fit_transform)
final_data_categorical.head(10)

,workclass,education,marital.status,occupation,relationship,race,sex,native.country,income
1,2,11,6,3,1,4,0,38,0
3,2,5,0,6,4,4,0,38,0
4,2,15,5,9,3,4,0,38,0
5,2,11,0,7,4,4,0,38,0
6,2,0,5,0,4,4,1,38,0
7,5,10,4,9,2,4,0,38,1
8,0,11,0,9,1,4,0,38,0
10,2,10,0,9,4,2,0,38,1
11,4,14,4,9,1,4,1,38,1
12,2,9,6,7,1,4,0,38,1

In [36]:
final_data = final_data.drop(final_data_categorical.columns, axis = 1)
final_data = pd.concat([final_data,final_data_categorical] , axis =1)

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week,workclass,education,marital.status,occupation,relationship,race,sex,native.country,income
1,82,132870,9,0,4356,18,2,11,6,3,1,4,0,38,0
3,54,140359,4,0,3900,40,2,5,0,6,4,4,0,38,0
4,41,264663,10,0,3900,40,2,15,5,9,3,4,0,38,0
5,34,216864,9,0,3770,45,2,11,0,7,4,4,0,38,0
6,38,150601,6,0,3770,40,2,0,5,0,4,4,1,38,0
7,74,88638,16,0,3683,20,5,10,4,9,2,4,0,38,1
8,68,422013,9,0,3683,40,0,11,0,9,1,4,0,38,0
10,45,172274,16,0,3004,35,2,10,0,9,4,2,0,38,1
11,38,164526,15,0,2824,45,4,14,4,9,1,4,1,38,1
12,52,129177,13,0,2824,20,2,9,6,7,1,4,0,38,1
13,32,136204,14,0,2824,55,2,12,5,3,1,4,1,38,1
15,46,45363,15,0,2824,40,2,14,0,9,1,4,1,38,1
16,45,172822,7,0,2824,76,2,1,0,13,1,4,1,38,1
17,57,317847,14,0,2824,50,2,12,0,3,1,4,1,38,1
19,34,203034,13,0,2824,50,2,9,5,11,1,4,1,38,1
20,37,188774,13,0,2824,40,2,9,4,3,1,4,1,38,1
21,29,77009,7,0,2754,42,2,1,5,11,1,4,0,38,0
22,61,29059,9,0,2754,25,2,11,0,11,4,4,0,38,0
23,51,153870,10,0,2603,40,2,15,2,13,0,4,1,38,0
25,21,34310,11,0,2603,40,2,8,2,2,0,4,1,38,0
26,33,228696,2,0,2603,32,2,3,2,2,1,4,1,25,0
27,49,122066,3,0,2603,40,2,4,2,7,0,4,1,11,0
28,37,107164,6,0,2559,50,3,0,4,13,1,4,1,38,1
29,38,175360,6,0,2559,90,2,0,4,9,1,4,1,38,1
30,23,44064,10,0,2559,40,2,15,5,7,1,4,1,38,1
31,59,107287,6,0,2559,50,3,0,6,3,4,4,0,38,1
32,52,198863,15,0,2559,60,2,14,0,3,1,4,1,38,1
33,51,123011,13,0,2559,50,2,9,0,3,1,4,1,38,1
34,60,205246,9,0,2559,50,4,11,4,3,1,2,1,38,1
35,63,39181,16,0,2559,60,0,10,0,3,1,4,0,38,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32525,58,147707,7,0,0,40,2,1,2,11,0,4,1,38,0
32526,30,77266,9,0,0,55,2,11,0,13,1,4,1,38,0
32527,26,191648,12,0,0,15,2,7,4,6,2,4,0,38,0
32529,32,211349,6,0,0,40,2,0,2,13,0,4,1,38,0
32530,22,203715,10,0,0,40,2,15,4,0,3,4,1,38,0
32531,31,292592,9,0,0,40,2,11,2,6,5,4,0,38,0
32532,29,125976,9,0,0,35,2,11,5,11,4,4,0,38,0
32535,34,204461,16,0,0,60,2,10,2,9,0,4,1,38,1
32536,54,337992,13,0,0,50,2,9,2,3,0,1,1,23,1
32537,37,179137,10,0,0,39,2,15,0,0,4,4,0,38,0
32538,22,325033,8,0,0,35,2,2,4,10,3,2,1,38,0
32539,34,160216,13,0,0,55,2,9,4,3,1,4,0,38,1
32540,30,345898,9,0,0,46,2,11,4,2,1,2,1,38,0
32542,45,252208,9,0,0,40,5,11,5,0,3,4,0,38,0
32545,45,119199,12,0,0,48,1,7,0,9,4,4,0,38,0
32546,31,199655,14,0,0,30,2,12,0,7,1,3,0,38,0
32547,39,111499,12,0,0,20,1,7,2,0,5,4,0,38,1
32548,37,198216,12,0,0,40,2,7,0,12,1,4,0,38,0
32549,43,260761,9,0,0,40,2,11,2,6,0,4,1,25,0
32550,43,255835,10,0,0,40,5,15,0,0,2,4,0,38,0
32551,43,27242,10,0,0,50,4,15,2,2,0,4,1,38,0
32552,32,34066,6,0,0,40,2,0,2,5,0,0,1,38,0
32553,43,84661,11,0,0,45,2,8,2,11,0,4,1,38,0
32554,32,116138,14,0,0,11,2,12,4,12,1,1,1,35,0
32555,53,321865,14,0,0,40,2,12,2,3,0,4,1,38,1
32556,22,310152,10,0,0,40,2,15,4,10,1,4,1,38,0
32557,27,257302,12,0,0,38,2,7,2,12,5,4,0,38,0
32558,40,154374,9,0,0,40,2,11,2,6,0,4,1,38,1
32559,58,151910,9,0,0,40,2,11,6,0,4,4,0,38,0
32560,22,201490,9,0,0,20,2,11,4,0,3,4,1,38,0

In [37]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30162 entries, 1 to 32560
Data columns (total 15 columns):
age               30162 non-null int64
fnlwgt            30162 non-null int64
education.num     30162 non-null int64
capital.gain      30162 non-null int64
capital.loss      30162 non-null int64
hours.per.week    30162 non-null int64
workclass         30162 non-null int64
education         30162 non-null int64
marital.status    30162 non-null int64
occupation        30162 non-null int64
relationship      30162 non-null int64
race              30162 non-null int64
sex               30162 non-null int64
native.country    30162 non-null int64
income            30162 non-null int64
dtypes: int64(15)
memory usage: 3.7 MB

In [39]:
final_data['income'] = final_data['income'].astype('category')

In [42]:
from sklearn.model_selection import train_test_split

y = final_data['income']
X = final_data.drop('income',axis =1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state = 99)

In [43]:
from sklearn.tree import DecisionTreeClassifier

dt_default = DecisionTreeClassifier(max_depth=5)
dt_default.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=5,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [47]:
y_pred_default = dt_default.predict(X_test)

In [48]:
from sklearn.metrics import classification_report

In [50]:
print(classification_report(y_true=y_test, y_pred= y_pred_default))

              precision    recall  f1-score   support

           0       0.86      0.95      0.91      6867
           1       0.78      0.52      0.63      2182

   micro avg       0.85      0.85      0.85      9049
   macro avg       0.82      0.74      0.77      9049
weighted avg       0.84      0.85      0.84      9049

In [52]:
print(confusion_matrix(y_test,y_pred_default))
print("Accuracy : ", accuracy_score(y_test,y_pred_default))

[[6553  314]
 [1039 1143]]
Accuracy :  0.8504807161012267